<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <jobs tax="7" baseMargin="11" extraMargin="5">
      <job margin="extra">
        <items>
          <item name="Envelope" price="520" isTaxFree="false"/>
          <item name="LetterHead" price="1983.37" isTaxFree="true"/>      
        </items>
      </job>
    
      <job margin="base">
        <items>
          <item name="T-Shirt" price="294.04" isTaxFree="false"/>   
        </items>
      </job>
    
      <job margin="extra">
        <items>
          <item name="frisbees" price="19385.38" isTaxFree="true"/>
          <item name="yo-yos" price="1829" isTaxFree="true"/>   
        </items>
      </job>
    </jobs>

</configuration>